{% extends "JhekasoftTestformBundle:Default:testformCommon.html.twig" %}

{% block testform_content %}
        <h2 class="main-form-title">Step One</h2>
        <div class="main-form-description">Start by giving us all your personal data</div>
        <div class="main-form-container">
            {{ include('JhekasoftTestformBundle:Default:personalDataForm.html.twig', { 'form': form }) }}
        </div>
{% endblock %}
