{% extends "JhekasoftTestformBundle:Default:testformCommon.html.twig" %}

{% block testform_content %}
        <h2 class="main-form-title">Step Two</h2>
        <div class="main-form-description">Take this survay so we can learn about you</div>
        <div class="main-form-container">
            {{ include('JhekasoftTestformBundle:Default:questionsForm.html.twig', { 'form': form }) }}
        </div>
{% endblock %}
