{% extends "JhekasoftTestformBundle:Default:testformCommon.html.twig" %}

{% block testform_content %}
        <div class="main-form-container">
            <h2>Congratulations, you did it! Here's your awesome prize:</h2>
            <img src="{{ imageUrl }}" alt="">
        </div>
{% endblock %}
