{% extends "JhekasoftRegistrationBundle::layout.html.twig" %}

{% block content %}
    <h1>Registration completed!</h1>

    <p>We have sent instructions to your email <strong>{{ email }}</strong>.</p>
{% endblock %}
