{% extends "JhekasoftRegistrationBundle::layout.html.twig" %}

{% block content %}
    <h1>Register</h1>

    {{ form(form) }}

    <p><a href="{{ path('_registration_login') }}">Login</a></p>
{% endblock %}
