{% extends "JhekasoftRegistrationBundle::layout.html.twig" %}

{% block content %}
    <h1>Verification</h1>

    {% if verificated %}
        <p>Your account has been activated.</p>
    {% else %}
        <p>Your account hasn't found.</p>
    {% endif %}

    <p><a href="{{ path('_registration_login') }}">Login</a></p>
{% endblock %}
